/*===============================
     base style start 
=================================*/

/* font awrsome link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------------------- */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
     font-size: 16px;
     line-height: 26px;
     color: #6C6C6C;  
}

/*===============================
     base style end 
=================================*/


/*---------------------------
     header style start 
-----------------------------*/
header {
     background-image: linear-gradient(to left top, #800000, #870809, #8f1110, #961817, #9e1e1d, #a42624, #a92d2c, #af3433, #b43e3d, #b94746, #be5050, #c25959);
     height: 750px;
     margin-bottom: 70px;
     
}

.navigation {
     position: absolute;
     width: 1000px;
     height: 44px;
     left: 156px;
     top: 42px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

nav a {
     text-decoration: none;
     color: white;
     font-size: 16px;
     padding: 10px 17px;
     border-radius: 50px;
     margin-right: 7px;
     font-weight: bold;
     transition: background-color .5s;
}

nav a:hover,
#actv {
     background-color: #800000e7;
}

.nav-btn {
     margin-right: 12px;
}

.btn {
     text-decoration: none;
     color: white;
     padding: 10px 17px;
     border-radius: 5px;
     font-weight: bold;
     background-color: #e02c6eb7;
     transition: backgrond-color .5s;
}

.btn i {
     margin-right: 15px;
     transition: transform .2s ease-in;
}

.btn:hover{
     background-color: #E02C6D;
}

.btn:hover i {
     transform: translate(3px);
}

.header-contant {
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: absolute;
     top: 235px;
     left: 158px;
     
}

.header-img,
.title {
     width: 560px;
     height: 438px;
}

.header-img img {
     width: 100%;
     transition: transform 1s ease-in-out;
}

.header-img img:hover{
     transform: scale(1.1);
}

.header-title {
     font-size: 64px;
     color: white;
}

.clr-txt {
     color: #800000e7;
}

.btn-1 {
     text-decoration: none;
     text-align: center;
     color: wheat;
     padding: 10px 20px;
     position: relative;
     border-radius: 50px;
     z-index: 1;
}

.btn-1::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 48px;
     height: 48px;
     border-radius: 50px;
     background-color: #800000;
     z-index: -1;
     transition: width .5s ease-in-out;
}

.btn-1 i {
     margin-left: 10px;
     transition: transform .1s ease-in .5s;
}

.btn-1:hover i {
     transform: translate(2px);
}

.btn-1:hover::before {        
     width: 100%; 
}

/*---------------------------
     header style end 
-----------------------------*/

/* ===========================
     main section style start
==============================*/

/* ----------------------------
     players-articles start
-------------------------------*/

.contant {
     margin-bottom: 10%;
}

.box {
     width: 1050px;
     height: 474px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     align-items: center;
     margin: 0 20%;
     margin-bottom: 27px;
}

.player-box {
     display: flex;
     align-items: center;
}

.player-card {
     width: 230px;
     height: 374px; 
     padding: 10px 13px;
     margin-right: 20px;
     border-radius: 10px;
     background-color: rgb(240, 239, 239);
}

.player-card:hover {
     box-shadow: 5px 5px 10px gray;
}

.plyr-img {
     width: 100%;
     border-radius: 10px;
}

.player-name {
     font-weight: bold;
     font-size: 24px;  
     margin: 10px 0px;
     color: #800000;
     white-space: nowrap;
}



/* ----------------------------
     players-articles end
-------------------------------*/

/*-----------------------------
      Blog section start
-------------------------------*/

.blog-sec {
     background-color: rgb(14, 14, 14);
     color: white;
     height: 600px;
}

.blogs {
     padding-top: 3% ;
}

.sec-title {
     align-items: center;
     text-align: center;
     margin-bottom: 50px;
     
}

.blog-box {
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.blog {
     width: 230px;
     height: 300px; 
     padding: 10px 13px;
     margin-right: 20px;
     border-radius: 10px;
     background-color: rgb(10, 10, 10);
}

.blog img {
     width: 100%;
     height: auto;
}

.blog:hover {
     box-shadow: 5px 5px 10px black;
}

.event-time {
     display: flex;
     align-items: center;
}.event-time i {
     margin-right: 10px;
}

/*-----------------------------
      Blog section end
-------------------------------*/

/*------------------------------
      achivment section start
--------------------------------*/



.blog-head {
     text-align: center;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 50px;
}

.trophes {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.trophy {
     width: 230px;
     height: 390px;
}

.trophy h3, p {
     text-align: center;
     
}


.trophy img {
     width: 100%;
}

/*------------------------------
      achivment section end
--------------------------------*/

/*------------------------------
      footer section start
--------------------------------*/
footer {
     height: 300px;
}
.footer {
     width: 483.87px;
     height: 213px;
     align-items: center;
     padding: 10px 0;
     margin-left: 35%;
     
}

.footer img {
     width: 483.87px;
     height: 110px;
     margin: 30px 0;
}

.footer p {
     color: black;
     margin-top: 30px;
}

.social {
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.social a {
     text-decoration: none;
     background-color: rgb(182, 182, 182);
     padding: 10px 20px;
     border-radius: 50px;
     color: black;
     font-size: 20px;
     transition: transform 0.7s ease-in-out;

}

.social a:hover {
     transform: scale(1.2) rotate(360deg) ;
}



/*------------------------------
      footer section end
--------------------------------*/

/*=============================
      Main style end
===============================*/


